<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Generate report</title>
</head>
<body>
<div style="position: relative; height: 1000px; background-color: rgb(96,96,96)">
  <form style="position: absolute; top: 10px; left: 10px" action="/" method="get">
    <input type="submit" value="Return to dashboard" name="Submit"
           style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 6px darkBlue; font-size:17px;" />
  </form>
    <div style="margin-left: 20px">
    <br><br><br><br><br><br>
        <form action="/generateReportFull" th:object="${reportDates}">
    <label for="fromDate" style="color: white">From:</label>
    <br>
    <input type="date" id="fromDate" th:field="*{fromDate}" required minlength="1">
    <br><br>
    <label for="toDate" style="color: white">To:</label>
    <br>
    <input type="date" id="toDate" th:field="*{toDate}" required minlength="1">
    <br><br>
            <input type="submit" value="Generate" name="Submit"
                   style="color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 6px darkBlue; font-size:17px;" />
        </form>
    </div>
</div>
</body>
</html>